<h1>{{header}}</h1>

<table class="files">
  <thead>
    <tr class="filehead">
      <th>Add</th>
      <th>File</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-hide="directory == '/'">
      <td></td>
      <td><a href="#{{linkparent(filelist.parent)}}">Parent Directory</a></td>
    </tr>
    <tr data-ng-repeat="folder in filelist.folders">
      <td></td>
      <td><a href="#{{linkpath}}/{{folder}}">{{folder}}</a></td>
    </tr>
    <tr data-ng-repeat="file in filelist.files">
      <td>
        <a href="#{{linkpath}}"
           data-ng-click="addSong(file)">+</a>
      </td>
      <td>{{file}}</td>
    </tr>
  </tbody>
</table>
