<!doctype html>
<html data-ng-app="WebXMMS">
  <head>
    <link rel="stylesheet" href="style.css">
    <script src="angular.min.js"></script>
    <script src="angular-resource.min.js"></script>
    <script src="music.js"></script>
  </head>
  <body data-ng-controller="TunesCtrl">
    <div id="playlist-container">
      <h1>Sangs</h1>
      <table class="tracklist">
        <thead>
          <tr class="trackhead">
            <th></th>
            <th style="text-align:right">#</th>
            <th>Song</th>
            <th>Time</th>
            <th>Artist</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="song in playlist.songs" data-ng-class="{'playing': song.playing}">
            <td>{{playstatus(song, playlist.status)}}</td>
            <td class="tracknum">{{song.tracknum}}</td>
            <td>{{song.title}}</td>
            <td class="time">{{song.time}}</td>
            <td>{{song.artist}}</td>
            <td class="rm">{{removeLink(song)}}</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="total">
            <td></td>
            <td>Total</td>
            <td></td>
            <td class="time">{{playlist.timeLength}}</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <div id="controls">
        <p><a href="#{{location}}" data-ng-click="command('clear')">Clear</a></p>
      </div>

      <div id="status">
      </div>
    </div>

    <div id="file-container" data-ng-view>
    </div>
  </body>
</html>
